.button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    position:fixed;
    width:80px;
	height:40px;
	bottom:100px;
	right:20px;
    border: 2px solid black;
    color: black; 
    background-color:#FFBD0B;
    text-align: center;
    text-decoration: none;
    border-radius:50px;
    cursor: pointer;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    transition: 0.3s;
  }

.button:hover {
    background-color: #bd8f0f;
}

.button:active {
    background-color: bd8f0f;
}

.spreaker-player {
    position:fixed;
    width:100%;
	bottom:0px;
    left:0px;
}

/* ADDED NFT */
.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* ADDED NFT */
.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
  }
